@keyframes rotation {
    0% {transform: rotate(0deg);}
    12% {transform: rotate(45deg);}
    25% {transform: rotate(90deg);}
    37% {transform: rotate(135deg) ;}
    50% {transform: rotate(180deg);}
    62% {transform: rotate(225deg);}
    75% {transform: rotate(270deg) ;}
    87% {transform: rotate(315deg);}
    100% {transform: rotate(360deg);}  
}

@-webkit-keyframes rotation {
    0% {-webkit-transform: rotate(0deg);}
    12% {-webkit-transform: rotate(45deg);}
    25% {-webkit-transform: rotate(90deg);}
    37% {-webkit-transform: rotate(135deg);}
    50% {-webkit-transform: rotate(180deg);}
    62% {-webkit-transform: rotate(225deg);}
    75% {-webkit-transform: rotate(270deg);}
    87% {-webkit-transform: rotate(315deg);}
    100% {-webkit-transform: rotate(360deg);} 
}

@keyframes teardrop {
    0% {transform: translate(0%,10%) skew(0deg,0deg) scale(1, 1);}
    10% {transform: translate(0%,10%) ;}
    30% {transform: translate(0%,30%) skew(15deg,5deg) scale(0.5, 1.25);}
    60% {transform: translate(0%,100%) skew(0deg,0deg) scale(1.6, 0.4);}
    80% {transform: translate(0%,150%) skew(-10deg,-5deg) scale(0.5, 1.25);}
    100% {transform: translate(0%,200%) skew(10deg,10deg) scale(0.4, 1.5);}
}

@keyframes sykkiva {
    0% {max-width: 10%}
    50% {max-width: 12%}
    100% {max-width: 10%}
}

@-webkit-keyframes sykkiva {
    0% {max-width: 10%}
    50% {max-width: 12%}
    100% {max-width: 10%}
}

@keyframes sykkivaMobile {
    0% {max-width: 35%}
    50% {max-width: 38%}
    100% {max-width: 35%}
}

@-webkit-keyframes sykkivaMobile {
    0% {max-width: 35%}
    50% {max-width: 38%}
    100% {max-width: 35%}
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    /*background-image: url('graf/forest-background-2048x1365.jpg');*/
    background-image: url('graf/puutausta.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    font-family: 'Mulish';
    font-size: 13px;
}

a {
    color: black;
}

#container {
    display: flex;
    /*position: relative;*/
    /*margin: auto;*/
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#tearcontainer {
    position:relative;
    display:flex;
    width: 100%;
    height: 100%;
}

.ico {
    max-width: 10%;
    height: auto;
}

.tear {
    position: absolute;
    visibility: hidden;
    max-width: 1.5%;
    height: auto;
    animation-name: none;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
    animation-iteration-count:infinite;
}

#vuosirenkaat {
    margin: auto;
    display: none;
    animation-name: sykkiva;
    -webkit-animation-name: sykkiva;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

#modalButton {
    right:0px;
    position:absolute;
    font-size: 38px;
    color:white;
}

#closeButton {
    position:absolute;
    color: white;
    right:0px;
    font-size: 28px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    /*border: 1px solid #888;*/
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    margin-bottom: 5%;
  }
  
  .modal-header {
    position:relative;
    text-align: center;
    /*padding: 2px 16px;*/
    background-color: #666666;
    color: white;
  }
  
  .modal-body {padding: 10px 16px;}
  
  .modal-footer {
    text-align: center;
    margin:auto;
    /*padding: 2px 16px;*/
    background-color: #666666;
    color: white;
  }

@media only screen and (max-width: 500px) {
    .ico {
        max-width: 35%;
        height: auto;
    }

    #vuosirenkaat {
        margin: auto;
        display: none;
        animation-name: sykkivaMobile;
        -webkit-animation-name: sykkivaMobile;
        animation-duration: 1.5s;
        -webkit-animation-duration: 1.5s;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
    }
    .tear {
        position: absolute;
        max-width: 4.5%;
        height: auto;
        animation-name: none;
        animation-timing-function: ease-in;
        animation-duration: 0.6s;
        animation-iteration-count:infinite;
    }
}